body{
    font-family: 'Roboto', sans-serif;
}
#img1{
    width:300px;
    height:205px;
}
#heading{
    margin-top: 30px;
    font-size: 20px;
    color:#333333;
    margin-left: 25px;
}
#para{
    font-size: 15px;
    color:#666666;
    text-align: left;
    margin-left: 25px;
}
#price{
    margin-top: 30px;
    font-size: 35px;
    color:#333333;
    margin-left: 25px;
}
.main_div{
    width:300px;
    height: 430px;
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
   
}
.btn-lg{
    width: 50px;
    height: 40px;
    background-color: #4ed17b;
    margin-left: 100px;
   
}
.container{
    display:flex;
   
}